body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0b0b0b;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, pink, gold);
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Gallery */
.gallery {
  padding: 50px;
}

/* Slider */
.slider {
  position: relative;
  width: 300px;
  margin: auto;
}

.slider img {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  opacity: 0;
  transform: scale(1.1);
  transition: all 1.5s ease;
}

.slider img.active {
  opacity: 1;
  transform: scale(1);
}
